.Statcard-y {
  overflow: hidden;
}

.Statcard-Wrapper {
  display: flex;
  margin-left: 28px;

  margin-top: 25px;
}

.firstCard {
  display: flex;

  width: 560px;
  height: 322px;
  column-gap: 20px;

  flex-wrap: wrap;
}

.box-1 {
  height: 130px;
  width: 166px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-2 {
  width: 166px;

  height: 130px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-3 {
  height: 130px;
  width: 166px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondCard {
  width: 550px;

  margin-right: 20px;
  height: 322px;
}

.sparkline {
  margin-bottom: 20px;
}

p {
  font-weight: 500;
  margin-left: 11px;
  font-size: 15px;
  color: gray;
}
h3 {
  margin-left: 11px;
  font-size: 20px;
}

.gray {
  color: gray;
  font-size: 16px;
  font-weight: 500;
}

.secondBox {
  display: flex;
  column-gap: 20px;
}

/* topic card style */

.topicCardWrapper {
  display: flex;

  margin-left: 28px;

  gap: 25px;
}

.firstTopicCard {
  width: 532px;
  height: 280px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondTopicCard {
  width: 550px;

  height: 280px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.progressBardetails {
  margin-left: 115px;
}

/* LEADERBOARD  CARD */

.leaderCardWrapper {
  display: flex;

  margin-top: 28px;
  margin-left: 28px;

  gap: 25px;
}

.leaderTopicCard {
  width: 532px;
  height: 280px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondleaderTopicCard {
  width: 550px;
  height: 280px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.leaderTopicCardContent {
  margin-inline: 25px;
 /* margin-top: -16px; */
 display: flex;
 align-items: center;
 
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  border: 2px solid red;
  
}

.leaderTopicCardContenttt{
   
 margin-bottom: -160px;
 
 align-items: center;
 border: 2px solid green;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

 
}